<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roomdatabaseexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TaskListViewModel"></activity>
        <activity android:name=".TaskListRepository" />
        <activity android:name=".TaskDetailViewModel" />
        <activity android:name=".TaskDetailRepository" />
        <activity
            android:name=".TaskAdapter"
            android:label="@string/title_activity_task_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TaskListDao" />
        <activity android:name=".TaskDetailDao" />
        <activity android:name=".Task" />
        <activity android:name=".TaskDatabase" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>